<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name ="Sales_System_Database" connectionString="Data Source=(localdb)\ProjectModels;Initial Catalog=Sales_System_Database;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>